<div id = "input_field">
    <fieldset>
        <legend>Enter a cryptocurrency</legend>
        <input type = "text" #coin placeholder="Coin paired with USD">
        <select name="interval" #interval>
           <option value="1m">1m</option>
           <option value="3m">3m</option>
           <option value="5m">5m</option>
           <option value="15m">15m</option>
           <option value="30m">30m</option>
           <option value="1h">1h</option>
           <option value="2h">2h</option>
           <option value="4h">4h</option>
           <option value="6h">6h</option>
           <option value="8h">8h</option>
           <option value="12h">12h</option>
           <option value="1d">1d</option>
           <option value="3d">3d</option>
           <option value="1w">1w</option>
           <option value="1M">1M</option>
        </select>
        <button type="submit"(click)="getVals(coin.value, interval.value); clickMe()">Draw Chart</button>
    </fieldset>
    </div>

    <app-my-chart [user_coin]="coin_symbol" [user_interval]="time_interval"></app-my-chart>
